@model SecretVisualiser.Models.SecretsViewModel
<br>
<H2 style="text-align: left">Secrets:</H2>
@if (Model.Secrets != null)
{
<div style="width: 500px;">
    <H3><ol>
        @foreach (var item in Model.Secrets)
        {
            <li>@item.Name - @item.Value</li>
        }
    </ol></H3>
</div>
}
else
{
    <p>no display items</p>
}