@model System.Collections.IDictionary
@{
    ViewData["Title"] = "Environment Variables";
}
<style type="text/css">
    table, th, td {
        border: 1px solid #666;
    }

        table th, table td {
            padding: 5px; /* Apply cell padding */
        }
</style>
<h2>@ViewData["Title"]</h2>

<h3>@ViewData["Message"]</h3>
<table border="1">
    <thead>
        <tr>
            <td>
                <b>Key</b>
            </td>
            <td>
                <b>Value</b>
            </td>
        </tr>
    </thead>

    @foreach (System.Collections.DictionaryEntry envVar in Model)
    {
    <tr>
        <td>
            <b>@envVar.Key</b>
        </td>
        <td>
            @envVar.Value
        </td>
    </tr>
    }
</table>